/Debug
/.vs
/rpc.vcxproj.user
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
/Makefile
/.vscode/ipch
*.ipch
*.suo
/lib/ts/node_modules
/lib/ts/package-lock.json
/lib/cpp/example/HelloServer/x64
/lib/cpp/example/HelloClient/Debug
/lib/cpp/example/HelloServer/Debug
/lib/cpp/example/HelloServer/.vs
/lib/cpp/example/HelloClient/.vs
